# hellooo
server {

    listen 8080;
    server_name localhost;
    root ./var/www/html;
    index index.html;
    client_max_body_size 1048576;

    error_page 404 ./var/www/errors/404.html;
    error_page 500 ./var/www/errors/500.html;
    error_page 403 ./var/www/errors/403.html;

    location / {
        methods GET;
        autoindex off;
    }

    location /uploads {
        methods GET POST;
        autoindex off;
        upload_path ./var/www;
    }

    location /files {
        methods GET DELETE;
        autoindex on;
        root ./autre;
    }

    location /old {
        methods GET;
        redirect 301 ./var/www/new;
    }

    location /new {
        methods GET;
        root ./var/www;
        index index.html;
    }

    location /cgi-bin {
        methods GET POST;
        cgi .py /usr/bin/python3;
        cgi .php /usr/bin/php-cgi;
    }
}

server {
 
    listen 8081;
    server_name test.local;
    root ./var/www;
    index index.html;
    client_max_body_size 512;

    error_page 404 ./var/www/SERVEUR2/404.html;

	location /blabla {
        autoindex on;
		methods GET POST DELETE;
        #index index.html;
        redirect 301 ./var/www/new;
        #redirect 301 /new;
        root ./var/www;
        cgi .php /usr/bin/php-cgi;
        upload_path ./var/www/uploads;
    }
}


 #FINISJJHHHHHHH
