# ERREUR : directive 'listen' presente deux fois dans le meme bloc server
# Un server ne peut avoir qu'un seul port d'ecoute.

server {
    listen 127.0.0.1:8080;
    listen 127.0.0.1:9090;
    server_name localhost;
    root ./var/www/html;
    client_max_body_size 1048576;

    location / {
        index index.html;
        methods GET;
        autoindex off;
    }
}
