# ERREUR : aucune directive 'listen' dans le bloc server
# Le parser doit rejeter un server sans port d'ecoute.

server {
    server_name localhost;
    root ./var/www/html;
    client_max_body_size 1048576;

    error_page 404 ./var/www/errors/404.html;

    location / {
        methods GET;
        autoindex off;
    }
}
