# ERREUR : fautes de frappe dans les noms de directives
# "listten" au lieu de "listen", "sevrer_name" au lieu de "server_name",
# "roto" au lieu de "root", "inedx" au lieu de "index".
# Chaque directive mal orthographiee doit etre rejetee comme inconnue.

server {
    listten 8080;
    sevrer_name localhost;
    roto ./var/www/html;
    inedx index.html;
    client_max_body_size 1048576;

    error_page 404 ./var/www/errors/404.html;

    location / {
        methods GET;
        autoindex off;
    }
}
